<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Blogz</title>
        <link type="text/css" rel="stylesheet" href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Sirin+Stencil" rel="stylesheet">
        <nav>
            <a href='/'><button>Home</button></a>
            <a href='blog'><button>All Blogz</button></a>
            {% if not session %}
            <a href='/login'><button>Log In</button></a>
            {% endif %}
            {% if session %}
            <a href='/newpost'><button>New Post</button></a>
            <a href='/logout'><button>Log Out</button></a>
            {% endif %}
        </nav>
    </head>
    <body class='bg'>
        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul> 
                {% for category,message in messages %}
                    <li class="{{category}}">{{message}}</li>
                {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}

        {% endblock %}

    </body>
</html>