{% extends "base.html" %}

{% block content %}

    <div class="header">
        <h1>Log in to Blogz</h1>
    </div>

    <div class="sidebar">
        <a href='/signup'><button> Create Account </button></a>
    </div>
<br>
    <div class="content">
        <form action='/login' method='post'>
            <label for='name'>Name</label>
            <input name='name' type='name' value='{{ name }}'>
            <label for='password'>Password</label>
            <input name='password' type='password'>
            <button>Login</button>
        </form>
    </div>


{% endblock %}