{% extends 'base.html' %}

{% block content %}
<div class='header'>
<h1>New Blogz</h1>
<h3>Who Will You Inspire Today?</h3>
</div>

<div class='center'>
<form method='post'>
    <table>
        <tr>
            <td>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <label>Title: <input type='text' name='blog-title' autofocus /></label>
            </td>
        </tr>
        <tr>
            <td>
                <label for='blog-body'>New Entry:</label>
            </td>
        </tr>
        <tr>
            <td>
                <textarea name='blog-body' /></textarea>
            </td>
        </tr>
    </table>
    <button>Post</button>
</form>
</div>

{% endblock %}